# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
vcs.xml
modules.xml
CubeDebug.iml
./box_to_drawer.rbz
./src/resources/DrawerCube.skp
./src/resources/DrawerCube~.skp
./lib/GemFile.lock
./.idea/inspectionProfiles/Project_Default.xml